<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layouts/layoutMaster}">

<div layout:fragment="primaryContent_Header">

    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-badge-percent"></i> Balance </h6>
    </div>
    <div class="btn-group">
        <a href="" class="btn active btn-outline-success btn-rounded">
            <i class="fa-icone fas fa-badge-percent"></i>
            Export as CSV file
        </a>
    </div>

</div>

<div layout:fragment="primaryContent_Body">

    <table class="table" style="width:100% ; text-align:center">
        <thead>
        <tr>
            <th>Compte</th>
            <th>Libellé</th>
            <th>Solde</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${balanceArray}">
            <td th:text="${ row.getCompteBalance() }"></td>
            <td th:text="${ row.getLibelleBalance() }"></td>
            <td th:text="${ row.getSoldeBalance() }"></td>
            <td th:if="${ row.getTypeBalance() == 0 }" >Crédit</td>
            <td th:if="${ row.getTypeBalance() == 1 }" >Débit</td>
        </tr>
        </tbody>
    </table>

</div>

<div layout:fragment="secondaryContent_Header">
    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-layer-plus"></i> Tax return information</h6>
    </div>
</div>

<div layout:fragment="secondaryContent_Body">
    <div class="flex-content ">
        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Reference</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Name Type Doc" th:value="${ Tax.getIdDoc() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Company name</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Company name" th:value="${ Tax.getCompany().getNameCompany() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Company ICE</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Company ICE" th:value="${ Tax.getCompany().getIceCompany() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Year</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Upload date" th:value="${ Tax.getYearDoc() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Upload date</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Upload date" th:value="${ Tax.getDateUpload() }" readonly>
            </div>
        </div>
    </div>

    <div class="flex-content flex-spaceAround">
        <a th:href="@{'/admin/tax/bilan/' + ${ Tax.getIdDoc() } }" class="btn btn-info btn-rounded m-03">
            <i class="fa-icone fas fa-badge-percent"></i>
            Generate Bilan
        </a>
        <a href="" class="btn btn-info btn-rounded m-03">
            <i class="fa-icone fas fa-badge-percent"></i>
            Generate CPC
        </a>
        <a th:href="@{'/admin/tax/details/xml/' + ${ Tax.getIdDoc() } }" class="btn btn-info btn-rounded m-03">
            <i class="fa-icone fas fa-badge-percent"></i>
            Export as XML file
        </a>
    </div>

</div>

</html>