<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layouts/layoutMaster}">

<div layout:fragment="primaryContent_Header">

    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-badge-percent"></i> Balance</h6>
    </div>
    <div class="btn-group">
        <button class="btn active"><i class="fa-icone fas fa-file-csv"></i> Export as .csv</button>
    </div>

</div>

<div layout:fragment="secondaryContent_Header">
    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-layer-plus"></i> Tax return information</h6>
    </div>
</div>

<div layout:fragment="secondaryContent_Body">
    <div class="flex-content ">
        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Reference</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Name Type Doc" th:value="${ Tax.getIdDoc() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Company name</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Company name" th:value="${ Tax.getCompany().getNameCompany() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Company ICE</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Company ICE" th:value="${ Tax.getCompany().getIceCompany() }" readonly>
            </div>
        </div>

        <div class="flex-content">
            <div class="medium-content">
                <label class="form-label mg-b-0">Upload date</label>
            </div>
            <div class="medium-content">
                <input type="text" class="form-control" placeholder="Upload date" th:value="${ Tax.getDateUpload() }" readonly>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="primaryContent_Body">

    <table class="table" style="width:100% ; text-align:center">
        <thead>
        <tr>
            <th>Compte</th>
            <th>Libellé</th>
            <th>Solde</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${balanceArray}">
                <td th:text="${ row.getCompteBalance() }"></td>
                <td th:text="${ row.getLibelleBalance() }"></td>
                <td th:text="${ row.getSoldeBalance() }"></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <hr>

    <div class="flex-content">
        <div>
            <a href="" class="btn btn-outline-info btn-rounded">Generate Bilan</a>
        </div>
        <div>
            <a href="" class="btn btn-outline-warning btn-rounded">Generate CPC</a>
        </div>
        <div>
            <a href="" class="btn btn-outline-success btn-rounded">Generate EDI file</a>
        </div>
    </div>

</div>

</html>