<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
 layout:decorate="~{layouts/layoutEmpty}">
<head>
	<title>Ediuse - Connexion</title>
</head>
 <div layout:fragment="content" >
 	<div class="container">
        <div class="az-content-body">
		    <div class="az-signin-wrapper " >
		      <div class="az-card-signin cardlogin" style="border: 1px solid #00909e;">
		      	<img src="img/logo_empty.png" class="imglogin">
		        <div class="az-signin-header">
		          <h2 style="display: flex; justify-content: center">Bienvenue</h2>
		            <h5 style="display: flex; justify-content: center; text-align: center ; color:#27496d">Pour continuer. Veuillez vous connecter.</h5>
		          <form th:action="@{/login}" method="post">
		            <div class="form-group">
		              <label>Login</label>
		              <input type="text" class="form-control" style="border-radius: 2rem;" name="username" placeholder="Enter your login" >
		            </div><!-- form-group -->
		            <div class="form-group">
		              <label>Password</label>
		              <input type="password" class="form-control" name="password" style="border-radius: 2rem;" placeholder="Enter your password" >
		            </div><!-- form-group -->
		            <button class="btn btn-az-primary btn-block" type="submit">Sign In</button>
		          </form>
		        </div><!-- az-signin-header -->
		        <div class="az-signin-footer">
		                <p>Vous n'avez pas de compte ? <span><a href="/signup">Creez un nouveau</a> </span></p>
		        </div><!-- az-signin-footer -->
		      </div><!-- az-card-signin -->
		    </div><!-- az-signin-wrapper -->	
	 </div>
  </div>
</div>       

</html>

 