<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
 xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
 layout:decorate="~{layouts/layoutEmpty}">
 
 <div layout:fragment="content" >
	<div class="az-signup-wrapper">
      <div class="az-column-signup-left">
        <div>
          <i class="typcn typcn-chart-bar-outline"></i>
          <h1 class="az-logo">EDIUSE</h1>
          <h5>Responsive Modern Dashboard &amp; Admin Template</h5>
          <p>We are excited to launch our new company and product Azia. After being featured in too many magazines to mention and having created an online stir, we know that BootstrapDash is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p>
          <p>Browse our site and see for yourself why you need Azia.</p>
        </div>
      </div><!-- az-column-signup-left -->
      <div class="az-column-signup">
        <h1 class="az-logo">az<span>i</span>a</h1>
        <div class="az-signup-header">
          <h2>Get Started</h2>
          <h4>It's free to signup and only takes a minute.</h4>

          <form action="page-profile.html">
            <div class="form-group">
              <label>Nom</label>
              <input type="text" class="form-control" placeholder="Saisir votre nom">
            </div><!-- form-group -->
            <div class="form-group">
              <label>Prenom</label>
              <input type="text" class="form-control" placeholder="Saisir votre prenom">
            </div><!-- form-group -->
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" placeholder="Saisir votre email">
            </div><!-- form-group -->
            <div class="form-group">
              <label>Mot de passe</label>
              <input type="password" class="form-control" placeholder="mot de passe ">
            </div><!-- form-group -->
            <div class="form-group">
             <label>Confirmation de mot de passe </label>
              <input type="password" class="form-control" placeholder="Confirmation de mot de passe">
            </div><!-- form-group -->
            <button class="btn btn-az-primary btn-block">Creer le compte</button>
          </form>
        </div><!-- az-signup-header -->
        <div class="az-signup-footer">
          <p>Vous avez deja un compte? <a href="/page1">Se connecter</a></p>
        </div><!-- az-signin-footer -->
      </div><!-- az-column-signup -->
    </div><!-- az-signup-wrapper -->
   </div>
</html>
    