<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
	  layout:decorate="~{layouts/layoutMaster}">

 <div layout:fragment="content">
 	          <div>
	            <h2 class="az-dashboard-title">Hi, ASKOUR welcome back!</h2>
	            <p class="az-dashboard-text">Your spring application are done.</p>
	          </div>
	</div>
	          

</html>