<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmls:layout="http://www.ultraq.net.nz/thymleaf/layout"
      layout:decorate="~{layouts/layoutMaster}">

<div layout:fragment="primaryContent_Header">

    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-user-cog"></i> Users management</h6>
    </div>
    <div class="btn-group">
        <button class="btn active"><i class="fa-icone fas fa-file-csv"></i> Export as .csv</button>
    </div>

</div>

<div layout:fragment="primaryContent_Body">
		<h2> Upload File </h2>
		<form action="" th:action="@{'/upload'}" th:object="${user}" method="post" encrypte="multipart/from-data">
			<div class="form-group">
				<label for="fileupload">File Upload (Excel or CSV or JSON)</label> 
				<input type="file" class="form-control" id="file" name="file">
			</div>
			<button type="submit" class="btn btn-primary">Upload</button>
		</form>
		 <table class="table" style="width:100% ; text-align:center">
        <thead>
        <tr>
            <th>Login</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getLoginUser()}"></td>
                <td th:text="${user.getPrenomUser()}"></td>
                <td th:text="${user.getNomUser()}"></td>
                <td th:text="${user.getRole()}"></td>
                <td>
                    <a th:href="'#user_' + ${ user.getIdUser() }" class="modal-effect btn btn-info btn-rounded" data-toggle="modal" data-effect="effect-fall">
                        <i class="fal fa-info"></i>
                    </a>
                     <a th:href="'#deleteUser_' + ${ user.getIdUser() }" class="modal-effect btn btn-danger btn-rounded" data-toggle="modal" data-effect="effect-fall">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div layout:fragment="secondaryContent_Header">
    <div>
        <h6 class="card-title"><i class="fa-icone fas fa-user-plus"></i> Add new user</h6>
    </div>
</div>

<div layout:fragment="secondaryContent_Body">
    <form method="post" th:action="@{/admin/user/add}" th:object="${Utilisateur}">
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control"  placeholder="Saisir votre nom" name="nomUser" id="nomUser">
        </div><!-- form-group -->
        <div class="form-group">
            <label>Prenom</label>
            <input type="text" class="form-control"   placeholder="Saisir votre prenom" name="prenomUser" id="prenomUser">
        </div><!-- form-group -->
        <div class="form-group">
            <label>Login</label>
            <input type="text" class="form-control"  placeholder="Saisir votre login" name="loginUser" id="loginUser">
        </div><!-- form-group -->
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control"  placeholder="mot de passe " name="pwdUser" id="pwdUser">
        </div><!-- form-group -->
        <div class="form-group">
            <label>Role</label>
            <select class="form-control" name="role">
                <option value="USER" >Normal account</option>
                <option value="ADMIN" >Administrator account</option>
            </select>
        </div><!-- form-group -->
        <button class="btn btn-success btn-rounded btn-block" type="submit">Create Account</button>
    </form>
</div>

</html>